body{
    background-color: #8d9cd3;
}
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }

  .navigation {
    background-color: #333;
    padding: 5px;
  }
  
  .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navigation ul li {

    margin-right: 10px;
    display: inline;
   
  }
  
  .navigation ul li a {
    
    color: #fff;
    text-decoration: none;
    padding: 6px 160px;

  }
  .logo{
    width: 100px;
  }
  .navigation ul li a:hover {
    background-color: #555;
    border-radius: 5px;
  }
  .footer {

    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .footer-menu li {
    margin: 0 10px; /* Расстояние между элементами */
  }
  
  .footer-menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-menu li a:hover {
    color: #e44f4f;
    text-decoration: none;
  }
  .container{
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 50px;
    background-color: #7691eb;
    padding: 10px;
    text-align: center;

  }
  .container h2{
   font-weight: bold;
   font-size: 32px;
   text-align: center;
   }
   .container p{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    }
  .container img{
   height: 350px;
  }